body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
     background-color: #333;
     color: #fff;
     padding: 1em;
     text-align: center;
}

header h1 {
 margin-bottom: .5em;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: .5em;
}

nav a{
     margin: 0 1em;
     color: #fff;
     text-decoration: none;
}
 nav a:hover {
     color: #ddd;
 }

main {
     display: flex;
     flex-wrap: wrap;
     padding: 1em;
}

.content {
    flex: 2;
    padding: 1em;
}

 .content h2 {
    margin-bottom: 1em;
    color: #0056b3;
 }
.content p {
    line-height: 1.5;
    margin-bottom: 1em;
}

aside {
    flex: 1;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}