<!DOCTYPE html>
<html lang="en">

<head>
    {{.Settings.AdditionalElementsTop}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Settings.DescriptionMarkdown }}">
    <title>{{.Settings.Title}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
    <script src="search.js"></script>
</head>

<body>
    <header>
        <div class="titleandlinks">
        <h1>
            {{.Settings.Title}}
        </h1>

            <a href="rss.xml" target="_blank" title="RSS Feed">
                <img src="rss.svg" alt="RSS Logo">
            </a>
            {{if .Settings.TelegramHandle}}
            <a href="https://t.me/{{.Settings.TelegramHandle}}" target="_blank" rel="noopener noreferrer"
                title="Telegram profile">
                <img src="telegram.svg" alt="Telegram Logo">
            </a>
            {{end}}  
            {{if .Settings.BlueSkyHandle}}
            <a href="https://bsky.app/profile/{{.Settings.BlueSkyHandle}}.bsky.social" target="_blank"
                rel="noopener noreferrer" title="Bluesky profile">
                <img src="bluesky.svg" alt="Bluesky Logo">
            </a>
            {{end}}    
            {{if .Settings.MastodonHandle}}
            <a href="https://mastodon.social/@{{.Settings.MastodonHandle}}" target="_blank" rel="noopener noreferrer"
                title="Mastodon profile">
                <img src="mastodon.svg" alt="Mastodon Logo">
            </a>
            {{end}}
            {{if .Settings.ThreadsHandle}}
            <a href="https://www.threads.net/@{{.Settings.ThreadsHandle}}" target="_blank" rel="noopener noreferrer"
                title="Threads profile">
                <img src="threads.svg" alt="Threads Logo">
            </a>
            {{end}}
            {{if .Settings.XHandle}}
            <a href="https://x.com/{{.Settings.XHandle}}" target="_blank" rel="noopener noreferrer" title="X profile">
                <img src="x.svg" alt="X Logo">
            </a>
            {{end}}
        </div>
        <input type="text" id="search-input" placeholder="Search... (supports Unix-like search commands)">
        <ul id="search-results"></ul>
        <nav>
            {{range .PageList}}
            <a href="{{.LinkToSelf}}" {{if $.Settings.OpenInNewTab}}target="_blank" {{end}}>{{.Title}}</a>
            {{end}}
        </nav>
        <div class="description">
            {{.Settings.DescriptionHTML}}
        </div>
        <div id="buttons"></div>
        <aside></aside>
    </header>
    {{ $Settings := .Settings}}
    {{range .ArticleList}}
    <div class="detail">
        <div class="headline">
            <a href="{{.LinkToSelf}}" {{if $Settings.OpenInNewTab}}target="_blank" {{end}}>
                <h2>{{.Title}}</h2>
            </a>
            <div class="info">
                <div class="tags">
                    {{range .Tags}}
                    <button class="on">{{.}}</button>
                    {{end}}
                </div>
                <h3 class="date">⋆ {{.Created.Format $Settings.DateFormat}}</h3>
                <h3 class="date">♰ {{.Updated.Format $Settings.DateFormat}}</h3>
            </div>
        </div>
        <div class="content">
            <div class="imagendescription">
                {{if .CoverImagePath}}
                <img src="{{.CoverImagePath}}" alt="{{.Title}}">
                {{end}}
                <p class="description">{{.Description}}</p>
            </div>
            <div class="sharebuttons">
                {{if $Settings.TelegramHandle}}
                <a href={{gen_share_url . $Settings "telegram" }} target="_blank" rel="noopener noreferrer" class="share"
                    title="Share this post on Telegram">
                    <img src="telegram.svg" alt="Telegram Logo">
                </a>
                {{end}}
                {{if $Settings.BlueSkyHandle}}
                <a href={{gen_share_url . $Settings "bluesky" }} target="_blank" rel="noopener noreferrer" class="share"
                    title="Share this post on Bluesky">
                    <img src="bluesky.svg" alt="Bluesky Logo">
                </a>
                {{end}}
                {{if $Settings.MastodonHandle}}
                <a href={{gen_share_url . $Settings "mastodon" }} target="_blank" rel="noopener noreferrer"
                    class="share" title="Share this post on Mastodon">
                    <img src="mastodon.svg" alt="Mastodon Logo">
                </a>
                {{end}}
                {{if $Settings.ThreadsHandle}}
                <a href={{gen_share_url . $Settings "threads" }} target="_blank" rel="noopener noreferrer" class="share"
                    title="Share this post on Threads">
                    <img src="threads.svg" alt="Threads Logo">
                </a>
                {{end}}
                {{if $Settings.XHandle}}
                <a href={{gen_share_url . $Settings "x" }} target="_blank" rel="noopener noreferrer" class="share"
                    title="Share this post on X">
                    <img src="x.svg" alt="X Logo">
                </a>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}
    <script src="script.js" async defer></script>
    {{.Settings.AdditionalElemensBottom}}

    <footer>
        <a href="https://tesserato.github.io/dsbg/" target="_blank">Created with Dead Simple Blog Generator</a>
    </footer>
</body>

</html>